@{
    ViewData["Title"] = "Delete title";
}
@using (Html.BeginForm("Delete", "Title", new { id = Model.Id }, FormMethod.Post))
{
<h1>Delete Title</h1>

<div class="myform">
    <h1 class="display-4">Delete title</h1>
        <form method="post" action="/Title/deletetitle/@Model.Id">
        <input type="hidden" />
        <div>
            <p></p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Cancel</a>
            <p></p>
        </div>
    </form>
</div>
}