@model IndexViewModel
@{
    ViewData["Title"] = "All titles new";
}

<div class="table-responsive">
    <a href="@Url.Action("Create", "Title")" class="btn btn-primary">Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Titles != null)
    {
            @foreach (var title in Model.Titles)
            {
                <tr>
                    <td>@title.Name</td>
                        <td class="text-center"><a href="@Url.Action("Details", "Title", new { id = title.Id })" class="btn btn-primary">Details</a></td>
                </tr>
            }
    }
        </tbody>
    </table>
</div>