@model ProductViewModel
@{
    ViewData["Title"] = "Product details";
}

<h1>Meeting details</h1>

<div class="">
    <p>Name: @Model.Name</p>
    <p>StartDate: @Model.Price</p>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to list</a> 