@model CreateStaffModel

<h2>Add New Staff</h2>

@Html.ValidationSummary()

<form asp-action="Create" method="post">
    <div class="form-group" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <div class="form-group">
            <label asp-for="SelectedTitleId">Select Title:</label>
            <select asp-for="SelectedTitleId" asp-items="@Model.TitlesSelectList" class="form-control"></select>
        </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<a href="@Url.Action("CharacterPage", "Home")">Back to list</a> 