@model EditStaffModel
@{
    ViewData["Staff"] = "Edit staff";
}
@using (Html.BeginForm("Edit", "Staff", new { id = Model.Id }, FormMethod.Post))
{
<h1>Edit Staff</h1>

<div class="myform">
    <h1 class="display-4">Edit staff</h1>
    <form method="post" action="/Staff/editstaff/@Model.Id">
        <input asp-for="Id" type="hidden" />
        <div class="form-group" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Position"></label>
            <input asp-for="Position" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Titles"></label>
            <input asp-for="Titles" class="form-control" />
        </div>
        <div>
            <p></p>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="@Url.Action("StaffPage", "Home")" class="btn btn-primary">Cancel</a>
            <p></p>
        </div>
    </form>
</div>
}