@model EditCharacterModel
@{
    ViewData["Character"] = "Edit character";
}
@using (Html.BeginForm("Edit", "Character", new { id = Model.Id }, FormMethod.Post))
{
    <h1>Edit Character</h1>

<div class="myform">
        <h1 class="display-4">Edit character</h1>
        <form method="post" action="/Character/editcharacter/@Model.Id">
        <input asp-for="Id" type="hidden" />
        <div class="form-group" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Titles"></label>
            <input asp-for="Titles" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VoiceActor"></label>
            <input asp-for="VoiceActor" class="form-control" />
        </div>
        <div>
            <p></p>
            <button type="submit" class="btn btn-primary">Edit</button>
                <a href="@Url.Action("CharacterPage", "Home")" class="btn btn-primary">Cancel</a>
            <p></p>
        </div>
    </form>
</div>
}